
#product-overview {
    background: url("freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;   
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.product{
    background: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.product--highlighted{
    background: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0, 0.5);
}

.product__annotation{
    background:white;
    color: #19b84c;
    padding:8px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    border-radius: 8px;
}

.product__title{
    color: #0e4f1f;

}

.product__price{
    color: rgb(133,133,133);
}

.product--highlighted .product__title {
    color: white;
}

.product--highlighted .product__price {
    color: #0e4f1f;
}

.product__features{
    list-style: none;
    margin: 0;
    padding: 0;
}
.product__features li{
    margin: 8px 0;
}

#main-features{
    background: #ff1b68;
    margin-top: 80px;
    padding: 16px;

}

#main-features .section-title{
    color: white;
    margin: 32px;
}

.main-feature__list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-feature{ 
    display:inline-block;
    width:30%;
    vertical-align: top;
}

.main-feature__image{
    background:#ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: 0 auto;
}

.main-feature__description{
    text-algin:center;
    font-weight: bold;
    color: white;
    font-size: 20px;

}

/* h1 {
    font-family: sans-serif;
} */
