* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: url("freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;
    
}

.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

/* h1 {
    font-family: sans-serif;
} */

.top-Header{
    width:100%;
    background: #2ddf5c;
    padding: 8px 16px;
}


.top-Header > div {
    display:inline-block;
    vertical-align:middle;

}

.top-Header__brand{
    color:#0e4f1f;
    text-decoration: none;
    font-weight:bold;
    font-size:22px;

}

.top-nav{
   display: inline-block; 
   text-align:right;
   width: calc(100% - 74px);
   vertical-align:middle;
}

.top-nav__items{
    margin: 0;
    padding: 0;
    list-style:none;
}

.top-nav__item{
    margin: 0 16px;
    display: inline-block;
}

.top-nav__item a {
    text-decoration:none;
    color: #0e4f1f;
    font-weight:bold;
    padding: 3px;
}

.top-nav__item a:hover,
.top-nav__item a:active{
    color:white;
    border-bottom:5px solid white;
}

.top-nav__item--cta a{
    color:white;
    background:#ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.top-nav__item--cta a:hover,
.top-nav__item--cta a:active{
    color:#ff1b68;
    background:white;
    border:none;

}
